:root {
  --monospace: "Consolas", "Menlo", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", serif;
  --primary: rgb(30, 30, 30);
  --code-bg: rgb(55, 56, 62);
  --link-background-color: #e8e3f7;
  --link-color: var(--primary);
  --link-hover-color: #5e9478;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: #77cea1;
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

.dark {
  --link-background-color: #77cea16d;
  --link-hover-color: #77cea1;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: var(--link-hover-color);
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
  --code-foreground-color: #5e9f7b;
}

.post-content p {
  text-align: justify;
}

.post-content code {
  color: #d4adfc;
  font-family: 'Consolas';
  font-size: 11pt;
  font-weight: 500;
}

.post-content pre code {
  color: unset;
  font-family: 'Consolas';
  font-size: 11pt;
  font-weight: 500;

}

.command code {
  white-space: pre;
}

.command .prompt {
  color: #d4adfc;
  padding: 5px;
  font-size: 11pt;
  font-weight: 700;
}